$normal-text: rgba(13, 19, 33, 1);
$alternate-bg: rgba(0, 163, 3, 1);

//button colors
$button-std-text: rgba(13, 19, 33, 1);
$button-std-bg: rgba(255, 255, 255, 1);
$button-std-active-text: rgba(255, 255, 255, 1);
$button-signup-bg: rgba(0, 163, 3, 1);
$button-signup-text: rgba(255, 255, 255, 1);

//header text colors
$header-title: rgba(255, 255, 255, 1);
$header-text: rgba(255, 255, 255, 1);

//logo
$logo-bg: rgba(0, 163, 3, 1);

//nav 
$nav-custom-logo-color: rgba(255, 255, 255, 1);

$nav-custom-bg: rgba(13, 19, 33, 1);
$nav-custom-text: rgba(255, 255, 255, 1);
//top portion of nav
$nav-custom-top-hover-text: rgba(44, 231, 47, 1);
$nav-custom-top-shadow: rgba(44, 231, 47, 1);
$nav-custom-top-before-bg: rgba(44, 231, 47, 1);
//bottom portion of nav
$nav-custom-hover-text: rgba(13, 19, 33, 1);
$nav-custom-hover-pill-bg: rgba(255, 255, 255, 1);
$nav-custom-hover-pill-shadow: rgba(255, 255, 255, .4);

//dashboard
$dashboard-container-bg: rgb(246, 255, 246);
$dashboard-chart-title: rgba(0, 163, 3, 1);
$dashboard-chart-text: rgba(13, 19, 33, 1);
$dashboard-chart-bg: rgba(255, 255, 255, 1);
//table
$table-text: rgba(13, 19, 33, 1);
$table-hover: rgb(75, 255, 78, .5);
$table-border: rgb(215, 217, 223);